{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-success px-4">
    <a class="navbar-brand" href="#">
      <img src="{% static  'imagenes/logo.png' %}" 
          alt="" width="100" height="50" 
          class="d-inline-block align-text-middle">
    </a>
    <button class="navbar-toggler" type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#accionesGestion" 
      aria-controls="navbarAccionesGestion" 
      aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="accionesGestion">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" 
              id="accionesPromocionesLink" 
              role="button" 
              data-bs-toggle="dropdown" 
              aria-expanded="false">
            Promociones
          </a>
          <ul class="dropdown-menu" aria-labelledby="accionesPromocionesLink">
            <li><a class="dropdown-item" href="{% url 'lista_promociones' %}">Ver Promociones</a></li>
            
          </ul>
        </li>
      </ul>
      
      
    </div>
</nav>