<html>
    {% load static %}
    <head>
        <title>Gestion de Promociones</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
    <body>
        {% include 'estructura/menu.html' %}
        
        <h1>GESTIÓN DE PROMOCIONES</h1>


        {% block header %}
        {% endblock %}

        {% block contenido %}
        {% endblock %}

        {% include 'estructura/pie.html' %}

        <link rel="stylesheet" href="{% static 'javascript/script.js' %}">
    </body>
</html>