{% extends "principal.html" %}

{% block contenido %}

{% load django_bootstrap5 %}
<form action = "{% url 'promocion_editar' promocion.id %}" method = "post"> 
    
    {% csrf_token %} 

    <div class="mb-4">
        <label for="{{ formulario.nombre.id_for_label }}" class="form-label">{{ formulario.nombre.label }}: </label>
        <input  name="{{ formulario.nombre.html_name }}" 
                type="text" 
                class="form-control {% if formulario.nombre.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                id="{{ formulario.nombre.id_for_label }}"
                maxlength="{{ formulario.nombre.field.max_length }}"
                {% if formulario.nombre.field.required %}
                    required
                {% endif %}
                value="{% spaceless %}
                       {% if formulario.is_bound%}
                            {{ formulario.nombre.value }}
                       {% elif pelicula %}
                            {{ formulario.nombre.value }}
                       {% endif %} 
                       {% endspaceless %}"
        />
        {% if formulario.nombre.help_text %}
        <div class="form-text">
            {{ formulario.nombre.help_text }}
        </div>
        {% endif %}
        <div class="invalid-feedback">
            {% for error in formulario.nombre.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for="{{ formulario.descripcion.id_for_label }}" class="form-label">{{ formulario.descripcion.label }}: </label>
        <textarea name="{{ formulario.descripcion.html_name }}" 
                  class="form-control {% if formulario.descripcion.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                  id="{{ formulario.descripcion.id_for_label }}"
                  >{% spaceless %}
                        {% if formulario.is_bound%}
                            {{ formulario.descripcion.value }}
                        {% elif pelicula %}
                            {{ formulario.descripcion.value }}
                        {% endif %} 
                        {% endspaceless %}</textarea>
        <div class="invalid-feedback">
            {% for error in formulario.descripcion.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <label for="{{ formulario.descuento.id_for_label }}" class="form-label">{{ formulario.descuento.label }}: </label>
        <textarea name="{{ formulario.descuento.html_name }}" 
                  class="form-control {% if formulario.descuento.errors %} is-invalid{% elif formulario.is_bound %} is-valid{% endif %}" 
                  id="{{ formulario.descuento.id_for_label }}"
                  >{% spaceless %}
                        {% if formulario.is_bound%}
                            {{ formulario.descuento.value }}
                        {% elif pelicula %}
                            {{ formulario.descuento.value }}
                        {% endif %} 
                        {% endspaceless %}</textarea>
        <div class="invalid-feedback">
            {% for error in formulario.descuento.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.fechaPromocion show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.fechaPromocion.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.fechaFinPromocion show_label=True %}
        <div class="invalid-feedback">
            {% for error in formulario.fechaFinPromocion.errors %} 
                {{ error }}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.producto show_label=True %}
    </div>

    <div class="mb-4">
        {% bootstrap_field formulario.usuario show_label=True %}
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

</form> 


{% endblock %}